<html>
  <head>
    <meta charset='utf-8' />
    <title>{{title}}</title>
  </head>
  <body>
    <header><img
        alt='logo of {{appName}}'
        src='cid:applogo@sleepy.bike'
        height='32'
      /></header>
    {{{body}}}
    <footer>
      <p>You can contact us at
        <a href='mailto:{{supportEmail}}'>{{supportEmail}}</a></p>
    </footer>
  </body>
</html>
