<p>
  Hello
  {{target.name}}!</p>
<a href={{actor.id}}>{{actor.name}}</a>
sent you a message from
{{appName}}.

<p>{{object.content}}</p>

<a href='https://sleepy.bike/messages/{{actor.id}}'>Reply on {{appName}}</a>
