<p>Hello{{#if target.name}}&nbsp;{{/if}}{{target.name}}!</p>
<p>
  <a href={{actor.id}}>{{#if
      actor.name
    }}{{actor.name}}{{else}}Somebody{{/if}}</a>
  sent you a message from
  {{appName}}.
</p>

<blockquote>{{object.content}}</blockquote>

<a
  href='https://sleepy.bike/messages/{{encodeURIComponent actor.id}}'
  class='action-button'
>Reply on
  {{appName}}</a>
