<p>To verify your email for
  {{appName}}
  notifications, please click the following link:
</p>

<p>
  <a href={{{emailVerificationLink}}} class='action-button'>
    Verify my email for
    {{appName}}</a>
</p>

<p>If the above link doesn't work, you can try copy-pasting the link directly
  into your browser:</p>

<p
  style='overflow-wrap:break-word;word-wrap:break-word'
>{{emailVerificationLink}}</p>

<p>This email verification for
  {{appName}}
  was initialized by Solid identity
  {{actor}}. If you've received this message unexpectedly and you believe it to
  be an error, please ignore it, or contact us for support.</p>
